<!DOCTYPE html>
<html lang⁼ "fr">

<head>
  <meta charset="utf-8">
  <title>Découverto: Outil de sauvegarde</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link href="css/form-validation.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="bg-light" ng-app="UI" ng-controller="UICtrl">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Découverto</a>
  </nav>
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="icons/2048x2048.png" alt="" width="100" height="100">
      <h2>Outil de sauvegarde</h2>
      <p class="lead">Grâce à cet outil vous pouvez sauvegarder les parcours et le code source.</p>
    </div>

    <div class="row">
      <div class="col-md-6 order-md-6 mb-6">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Balades</span>
          <span class="badge badge-secondary badge-pill">{{walks.length}}</span>
        </h4>
        <div style="margin-bottom: 10px;">
          <p class="info">"<i>synchroniser</i>" permet de télécharger <b>seulement</b> les balade qui n'ont pas encore été téléchargé sur votre appareil.</p>
          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="downloadAllWalks()">Télécharger toutes les balades</button>
          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="syncWalks()">Synchroniser les balades</button>
        </div>
        <p ng-hide="walks.length">Aucune balade à sauvegarder.</p>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" ng-repeat="item in walks">
            <div>
              <h6 class="my-0" ng-class="{green: item.downloaded}">{{item.title}}</h6>
            </div>
            <div>
              <span class="oi oi-cloud-download list-action" ng-click="downloadWalk(item)"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 order-md-6 mb-6">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Logiciels</span>
          <span class="badge badge-secondary badge-pill">{{repos.length}}</span>
        </h4>
        <div style="margin-bottom: 10px;">
          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="downloadAllRepos()">Télécharger tous les logiciels</button>
        </div>
        <p ng-hide="repos.length">Aucune logiciel à sauvegarder.</p>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" ng-repeat="item in repos">
            <div>
              <h6 class="my-0" ng-class="{green: item.downloaded}">{{item.name}}</h6>
            </div>
            <div>
              <span class="oi oi-cloud-download list-action" ng-click="downloadRepo(item)"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2018 Découverto</p>
    </footer>
    <script src="js/index.js"></script>
  </div>
</body>

</html>
